@import "tailwindcss";


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.flex-center {
  @apply flex justify-center items-center
}

.flex-col-center {
  @apply flex flex-col  items-center justify-center
}

.bor {
  @apply border border-white
}



@theme {
  --color-brand-blue: #E6ECF6;
  --color-brand-ash: #3B3B3B;
  --color-light-ash: #E6ECF6;
  --color-brand-black: #1B1B1B;
  --color-dark-blue: #0240A3;
  --color-dark-ash: #375079;





 
}